---
import { hostingFeatures  } from "@/consts/feature";
type Color = "aqua" | "blue" | "yellow" | "red";

const variant: Record<Color, string> = {
  aqua: "border border-aqua/25 bg-aqua/5 text-aqua rounded-md",
  blue: "border border-blue/25 bg-blue/5 text-blue rounded-md",
  yellow: "border border-yellow/25 bg-yellow/5 text-yellow rounded-md",
  red: "border border-red/25 bg-red/5 text-red rounded-md",
};
---

<main class="enter space-y-4" style="animation-delay: .05s;">
  <main>
    <ul class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4 mx-auto">
      {
        hostingFeatures.map((feature) => {
          return (
            <li
              class={`flex gap-4 items-center px-4 py-4 ${variant[feature.color]}`}
            >
              <i class={`text-${feature.color}`}>
                <feature.icon />
              </i>
              <main>
                <p class="text-sm text-gray-600 dark:text-gray-400 text-wrap">
                  {feature.title}
                </p>
              </main>
            </li>
          );
        })
      }
    </ul>
  </main>
</main>
