---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/home/Hero.astro";
import Features from "@/components/home/Features.astro";
import SystemRequirements from "@/components/home/SystemRequirements.astro";

const SEO = {
  title: "FiveM - the GTA V multiplayer modification you have dreamt of",
  description:
    "FiveM is a modification framework for GTA V, allowing you to play multiplayer on customized dedicated servers.",
};
---

<Layout title={SEO.title} description={SEO.description}>
  <main class="space-y-16">
    <Hero />
    <Features />
    <SystemRequirements />
  </main>
</Layout>
