---
const faq = [
  {
    question: "What is FiveM?",
    answer: "FiveM lets you play GTA V multiplayer on custom servers built by the community.",
  },
  {
    question: "Why ask for login info?",
    answer:
      "To verify GTA V ownership via Rockstar Social Club. We don’t store or share your info.",
  },
  {
    question: "How do I run a server?",
    answer:
      "Check our server page or forums for help. You can also rent a server to support the project.",
  },
  {
    question: "Can I play FiveM on consoles?",
    answer:
      "No, FiveM is PC-only due to its advanced features and open platform requirements.",
  },
];
---

<main class="space-y-4 w-fit mx-auto">
  <header>
    <h1 class="text-4xl font-semibold tracking-tighter text-center">F.A.Q.</h1>
  </header>
  <main class="space-y-4">
    {
      faq.map((item) => (
        <article>
          <h2 class="text-xl font-semibold tracking-tighter">
            {item.question}
          </h2>
          <p class="text-md text-gray-500 dark:text-gray-300">{item.answer}</p>
        </article>
      ))
    }
  </main>
</main>
