---
import { faq } from "@/consts/home/faq";
---

<main class="enter space-y-4 w-fit mx-auto" style="animation-delay: .5s;">
  <header>
    <h1 class="text-4xl font-semibold tracking-tighter text-center">F.A.Q.</h1>
  </header>
  <main class="grid grid-cols-1 lg:grid-cols-2 gap-6 space-y-4">
    {
      faq.map((item) => (
        <article>
          <h2 class="text-xl font-semibold tracking-tighter">
            {item.question}
          </h2>
          <p class="text-md text-gray-500 dark:text-gray-300">{item.answer}</p>
        </article>
      ))
    }
  </main>
</main>
