---
import Link from "@/components/global/Link.astro";
---

<main class="enter space-y-8 mt-16">
  <header class="flex flex-col gap-4 items-center justify-center text-center">
    <h2 class="text-sm md:text-lg text-gray-600 dark:text-gray-400 text-wrap">
      Join the 224.7k people that are online right now!
    </h2>
    <h1
      class="text-4xl sm:text-5xl md:text-6xl font-semibold tracking-tighter max-w-2xl"
    >
      The <span class="text-orange">Multiplayer Platform</span> you've dreamt of
    </h1>
    <h4 class="text-lg sm:text-xl text-gray-600 dark:text-gray-400 mt-2">
      We help you bring your vision to life with the powerful <a
        class="text-red-500 font-semibold hover:text-red-400 transition-colors duration-300"
        href="https://cfx.re"
      >
        Cfx.re
      </a> platform.
    </h4>
  </header>

  <footer class="space-y-8">
    <section class="mx-auto max-w-2xl flex items-center justify-center gap-6">
      <Link
        class="hidden md:block py-4 px-6 md:px-8 text-sm md:text-lg w-full text-center hover:scale-105"
        text="Download Now!"
        target="current"
        color="orange"
        url="https://runtime.fivem.net/client/FiveM.exe"
      />
      <Link
        class="block md:hidden py-4 px-6 md:px-8 text-sm md:text-lg w-full text-center hover:scale-105"
        text="Visit our forums"
        target="new"
        color="red"
        url="https://forum.cfx.re"
      />
      <Link
        class="py-4 px-6 md:px-8 text-sm md:text-lg w-full text-center hover:scale-105"
        text="Join our Discord"
        target="current"
        color="discord"
        url="https://discord.gg/fivem"
      />
    </section>

    <p class="text-center text-lg text-gray-600 dark:text-gray-400">
      Interested in creating your own server? <Link
        class="hover:text-red font-semibold"
        text="Get Started"
        target="current"
        color="none"
        url="/server-hosting"
      />
    </p>
  </footer>
</main>
