---
import Link from "./Link.astro";

const nav = [
  {
    name: "Forums",
    url: "https://forum.cfx.re/",
  },
  {
    name: "Docs",
    url: "https://docs.fivem.net/",
  },
  {
    name: "Servers",
    url: "https://servers.fivem.net/",
  },
  {
    name: "Portal",
    url: "https://portal.cfx.re/",
  },
];
---

<header class="bg-lightBlue">
  <main class="flex items-center mx-auto md:w-[80%] px-4 py-5">
    <ul class="w-full hidden md:flex items-center gap-8">
      {
        nav.map((item) => {
          const { name, url } = item;
          return (
            <li class="text-lg font-medium text-gray-300 hover:text-white transition-colors">
              <a href={url} target="_blank" type="noreferrer">
                {name}
              </a>
            </li>
          );
        })
      }
    </ul>

    <Link
      text="Download"
      color="red"
      class=""
      url="https://runtime.fivem.net/client/FiveM.exe"
      target="current"
    />
  </main>
</header>
