---
import Header from "../components/Header.astro";
import "@fontsource-variable/inter";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.webp" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={Astro.props.description} />
    <title>{Astro.props.title}</title>
  </head>
  <body class="bg-light text-black dark:bg-darkBlue dark:text-white font-inter">
    <Header />
    <main class="mx-auto md:w-[80%] py-12">
      <slot />
    </main>
  </body>
</html>
