---
import { ClientRouter } from "astro:transitions";
import Header from "@/components/global/Header.astro";
import Footer from "@/components/global/Footer.astro";
import "@fontsource-variable/inter";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/fivem.webp" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={Astro.props.description} />
    <title>{Astro.props.title}</title>
    <ClientRouter />
  </head>
  <body
    class="bg-white text-black dark:bg-main dark:text-white font-inter bg-[url('/background.png')] bg-repeat"
  >
    <Header />
    <main class="mx-auto md:w-[80%] py-0 md:py-24 px-8 md:px-0">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  @keyframes enter {
    from {
      transform: translateY(100px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .enter {
    animation: enter 0.4s ease forwards;
  }

  #mobile-menu {
    z-index: 60;
  }

  #menu-toggle {
    z-index: 50;
  }
</style>
