---
import XIcon from '@/assets/icons/X.astro';
import CheckIcon from '@/assets/icons/Check.astro';

interface Props {
  enabled: boolean;
  text: number | string;
}

const { enabled, text } = Astro.props;
---

<div class="flex items-center gap-2">
  {enabled ? (
    <CheckIcon class="w-4 h-4 text-green shrink-0" />
  ) : (
    <XIcon class="w-4 h-4 text-red shrink-0" />
  )}
  <span class="text-sm text-zinc-300">{text}</span>
</div>
