---
import HamburgerIcon from "@/assets/icons/navigation/Hamburger.astro";
import CloseIcon from "@/assets/icons/navigation/Close.astro";

const nav = [
  { name: "Forum", url: "https://forum.cfx.re/" },
  { name: "Servers", url: "https://servers.fivem.net/" },
  { name: "Docs", url: "https://docs.fivem.net/" },
  { name: "Portal", url: "https://portal.cfx.re/" },
];
---

<header
  class="relative border-b border-black/5 dark:border-white/5 backdrop-blur-lg"
>
  <main
    class="flex gap-6 items-center justify-between md:mx-auto w-full md:w-[70%] px-4 py-5"
  >
    <a href="/">
      <img src="/rockstar_cfx.png" alt="Logo" class="w-48 md:w-64" />
    </a>

    <!-- Desktop Navigation -->
    <aside class="hidden md:flex items-center gap-8">
      {
        nav.map((item) => (
          <a
            href={item.url}
            target="_blank"
            rel="noreferrer"
            class="text-lg font-medium text-gray-800 dark:text-gray-300 hover:text-white transition-colors"
          >
            {item.name}
          </a>
        ))
      }
    </aside>
  </main>
</header>
